<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Borrowed Books</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        img {height: 120px; width: fit-content;}
    </style>
</head>
<body style="margin: 50px 30px 0 30px;">
    <%- include("../components/navbar.ejs") %>
    <% if(!isAdmin) { %>
    <br>
    <h1>List borrowed Books</h1>
    <br>
    <table class="table table-bordered border-primary">
        <thead>
            <tr>
                <th style="text-align: center;" class="table-dark">Title</th>
                <th style="text-align: center;" class="table-dark">Category</th>
                <th style="text-align: center;" class="table-dark">Action</th>
            </tr>
        </thead>
        <tbody>
            <% data.Books.forEach(el => { %>
                <tr>
                    <td style="text-align: center; padding-top: 50px;"><%= el.name %>
                        <img style="margin-left: 10px; margin-bottom: 10px; margin-top: 10px; padding-left: 30px;"  src="<%= el.urlImage%>" alt="">
                    </td>
                    <td style="text-align: center; padding-top: 80px;"><%= el.category %></td>
                    <td><a style="margin-top: 60px;" class="btn btn-lg btn-primary" href="/user/return/<%= el.id %>">Return</a></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
    <% } else { %>
        <p>You have no access to this site</p>
    <% } %>
</body>
</html>